@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-bg {
      background: linear-gradient(to bottom, #0F0717 , #381958);
  }
}


body {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 100vh;
  height: 100%;
  background: linear-gradient(to right,rgba(0, 0, 0, 0) 0%,  #381958 100%),
    linear-gradient(
      to bottom,
      #000000 0%,
      #050207 28%,
      #0f0717 65%,
      #381958 100%
    );
    font-family: var(--font-poppins), sans-serif;
}
